body {
  margin: 0;
  box-sizing: border-box;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}

header {
  background: #282828;
  color: whitesmoke;
}

nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
}

li {
  cursor: pointer;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

.push-right {
  margin-left: auto;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.item {
  position: relative;
}

.item-img {
  width: 100%;
  display: block;
}

.img-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

.caption {
  display: flex;
  justify-content: space-between;
  margin-inline: 25px;
  gap: 20px;
}

button {
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  /* margin: auto 0 auto auto; */
  align-self: center;
}

.chatbox-bg {
  position: fixed;
  bottom: 6px;
  right: 6px;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #dda15e;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #999;
}

.chatbox-img {
  width: 50%;
  margin: auto;
}
